button.myright
{
    float: right;
    padding: 5px;
    margin: 10px;
}
button.myleft
{
    float: left;
    padding: 5px;
    margin: 10px;
}
.submit-button
{
    float: left;
}
.cancel-button
{
    float: left;
    margin-left: 10px;
    display: inline;
}
