.tutorial-carousel-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  margin-top: 50px;
  padding: 0 50px;

  .carousel-control {
    opacity: 1;
    height: 50px;
    line-height: 50px;
    display: block;
    margin: auto;

    &.left,
    &.right {
      background: none;
    }

    span {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      right: 0;
      height: 50px;
      line-height: 50px;
      background: #088f4b;
      border-radius: 5px;
      -webkit-box-shadow: 2px 2px 0px 0px rgb(4, 95, 49);
      -moz-box-shadow: 2px 2px 0px 0px rgb(4, 95, 49);
      box-shadow: 2px 2px 0px 0px rgb(4, 95, 49);
    }

    &:focus,
    &:hover {
      opacity: 1;
    }

    &:hover {
      span {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
  }

  .carousel-indicators li {
    cursor: default;
  }

}
