body {
  font-family: 'Lato';
  padding-top: 60px;
  background-color: #99ccdd; }
  @media (max-width: 998px) {
    body {
      height: 100%;
      overflow: hidden; } }

div.body {
  background-color: #fefdff; }

div.container {
  margin-left: 10px;
  margin-right: 10px; }

div.container-fluid {
  margin-left: 10px;
  margin-right: 10px; }

.fa-btn {
  margin-right: 6px; }

li.no-style {
  list-style-type: none;
  margin-left: -2em; }

@media screen and (min-width: active 768px) {
  #assignSources .modal-dialog {
    width: 1000px;
    padding: 4px; } }

.surveyHeader {
  text-align: left; }

.modal.modal-wide .modal-dialog {
  width: 90%; }

.modal-wide .modal-body {
  overflow-y: auto; }

#tallModal .modal-body p {
  margin-bottom: 900px; }

.error_message {
  clear: both; }

div.myerror {
  color: red; }

p.source_err {
  color: red;
  margin-bottom: 5px;
  display: inline-block; }

td.subheader {
  text-align: left;
  color: black; }

.mywarning {
  font-weight: bold;
  font-family: monospace;
  text-align: center; }

p.descr-small {
  font-family: monospace;
  font-size: 10px;
  padding-bottom: 1px;
  margin-bottom: 0px; }

div.jumbotron {
  padding-top: 3px; }

#unsupportedMobile {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 99; }
  #unsupportedMobile > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 200px;
    float: none;
    display: block; }
  @media (max-width: 998px) {
    #unsupportedMobile {
      display: block; } }

button.myright {
  float: right;
  padding: 5px;
  margin: 10px; }

button.myleft {
  float: left;
  padding: 5px;
  margin: 10px; }

.submit-button {
  float: left; }

.cancel-button {
  float: left;
  margin-left: 10px;
  display: inline; }

.tutorial-carousel-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  margin-top: 50px;
  padding: 0 50px; }
  .tutorial-carousel-wrapper .carousel-control {
    opacity: 1;
    height: 50px;
    line-height: 50px;
    display: block;
    margin: auto; }
    .tutorial-carousel-wrapper .carousel-control.left, .tutorial-carousel-wrapper .carousel-control.right {
      background: none; }
    .tutorial-carousel-wrapper .carousel-control span {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      right: 0;
      height: 50px;
      line-height: 50px;
      background: #088f4b;
      border-radius: 5px;
      box-shadow: 2px 2px 0px 0px #045f31; }
    .tutorial-carousel-wrapper .carousel-control:focus, .tutorial-carousel-wrapper .carousel-control:hover {
      opacity: 1; }
    .tutorial-carousel-wrapper .carousel-control:hover span {
      box-shadow: none; }
  .tutorial-carousel-wrapper .carousel-indicators li {
    cursor: default; }

/*# sourceMappingURL=app.css.map */
