/* CSS Style Sheet for Fishwise Online Vendor Survey Blueprint */

h1 { 
        
text-align: center;
padding-top: 4px;
    }
h3{
    text-align: center;
}
h2 {
    text-align: left;
}
h4 {
    text-align: left;
}
body {
    background-image: url("/css/images/water_back2.jpg");
   /*
    *background: -mox-linear-gradient(#0066ff,#66ffcc);
    * background: linear-gradient(#0066ff,#66ffcc);
    * background: -webkit-linear-gradient(#0066ff,#44dddd);
    
    */
}
#content {
    padding: 5px 3px 5px 3px;
    min-height: 800px;
}
#header {  h1
    text-align: center;
    height: 70px;
    clear: both;
    border-bottom: solid black 2px;
}

.footer {
    clear: both;
    border-top: dashed 1px black;
    border-bottom: dashed 1px black;
    text-align: center;
    margin-top: 5px;
    vertical-align: text-bottom;
}
.container {
    margin: 0 auto;
    background-color:  rgba(255,255,255,0.95);
    padding: 4px 4px 4px 4px;
    max-width: 1600px;
    left: 50%;
    clear: both;
    overflow: auto;
    box-shadow: 3px 3px 3px;
  
    
 }
span.glyphicon {
    font-size: 1.5em;
}

 .page-header {
    margin-top: 4px;
 }
 select {
    font-size: small;
 }
 .noDec {
    text-decoration: none;
    font-size: 12px;
    color: black;
 }
 .error {
    color: #FF0000;
 }
 .rightj {
    text-align:  right;
 }
 .leftj{
    text-align: left;
 }
.myHide {
    display: none;
}

@media screen and (min-width:active 768px){
    #assignSources .modal-dialog {width: 1000px; padding: 4px;}
    }
.surveyHeader {
    text-align: left;
}
.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
#tallModal .modal-body p { margin-bottom: 900px }